@page "/"
@inject PasskeyProvider PasskeyProvider

<DPPage Title="Passkeys">
    <DPParagraph>
        <div>Passkey ID: @_passkeyId</div>
        <div>Public Key: @_publicKey</div>
        <div>Verification Status: @_verificationStatus</div>
    </DPParagraph>
    <DPButton Clicked="CreatePasskeyAsync">Create Passkey</DPButton>
    <DPButton Clicked="UsePasskeyAsync">Use Passkey</DPButton>
</DPPage>

@code {
    private string _passkeyId = "none";

    private string _publicKey = "none";

    private string _verificationStatus = "none";

    public async Task CreatePasskeyAsync()
    {
        await PasskeyProvider.CreatePasskeyAsync();
    }

    public async Task UsePasskeyAsync()
    {
        await PasskeyProvider.GetPasskeyAsync();
    }
}
