@page "/"
@inject PasskeyProvider PasskeyProvider

<DPPage Title="Passkeys">
    <DPParagraph>
        <div>Credential ID: @_passkey?.CredentialId</div>
        <div>Public Key: @_passkey?.PublicKey</div>
        <div>Verified: @_isVerified</div>
    </DPParagraph>
    <DPButton Clicked="CreatePasskeyAsync">Create Passkey</DPButton>
    <DPButton Clicked="UsePasskeyAsync">Use Passkey</DPButton>
</DPPage>

@code {
    private Passkey? _passkey;

    private byte[]? _publicKey;

    private bool _isVerified;

    public async Task CreatePasskeyAsync()
    {
        _passkey = await PasskeyProvider.CreatePasskeyAsync("user4");
        _publicKey = _passkey!.PublicKey;
    }

    public async Task UsePasskeyAsync()
    {
        _passkey = await PasskeyProvider.GetPasskeyAsync();
        _isVerified = await PasskeyProvider.VerifyPasskeyAsync(_passkey!, _publicKey!);
    }
}
